footer {
  background-color: #1b1b1b;
}

  #footer-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding: 2.75vh 11.7vw;
      justify-content: space-between;
  }

      #copyright {
          color: white;
          font-size: 16px;
          font-weight: 500;
          cursor: context-menu;
          text-shadow: 3px 3px 12px #000000;
      }

      /* ICONS */
      #social-media-icon {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          align-items: center;
          justify-content: center;
      }

          #social-media-icon li {
              display: inline-block;
              justify-content: center;
              align-items: center;
              margin: 0 20px;
              list-style: none;
          }

              #social-media-icon li a {
                  display: block;
                  border-radius: 50%;
                  background-color: white;
                  text-align: center;
                  transition: .6s;
                  width: 40px;
                  box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
              }

              #social-media-icon li:nth-child(1) a:hover {
                  background-color: #dd4b39;
              }

              #social-media-icon li:nth-child(2) a:hover {
                  background-color: #24292e;
              }

              #social-media-icon li:nth-child(3) a:hover {
                  background-color: #0077B5;
              }

              #social-media-icon li:nth-child(4) a:hover {
                  background-color: #e4405f;
              }

              #social-media-icon li:nth-child(5) a:hover {
                  background-color: #3b5999;
              }

              #social-media-icon li a i {
                  font-size: 25px;
                  color: black;
                  line-height: 40px;
                  transition: .6s;
              }

          #social-media-icon li a i:hover {
              color: #fff;
          }

              #social-media-icon li a:hover {
                  transform: translate(0, -2px);
              }

@media (max-width: 910px) {

  #footer-container {
    flex-direction: column;
  }

    #copyright p {
        text-align:center;
    }

    #social-media-icon {
        margin-top: 35px;
    }

}

@media (max-width: 525px) {

  #footer-container {
      padding: 25px 0;
  }

          #social-media-icon li {
              padding: 10px;
          }

}

@media screen and (max-width: 320px) {

  #copyright p {
      font-size: 0.9rem;
  }

}