*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272727;
    font-family: "Poppins", sans-serif;
}

        #header-container {
            background-color: #1b1b1b;
        }

            nav{
                width: 100%;
                display: flex;
                height: 100px;
                flex-wrap: wrap;
                color: #ffffff;
                align-items: center;
                padding: 1.13vh 11.7vw;
                justify-content: space-between;
            }

                #logo{
                    color: #fff;
                    font-weight: 600;
                    font-size: 1.5rem;
                    letter-spacing: 0.4rem;
                    text-shadow: 1px 5px 5px #000000;
                }

                    #logo h1 a {
                        color: #f5f5f5f8;
                        text-decoration: none;
                        text-transform: uppercase;
                    }

                /* Navigation Menu */
                nav ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    align-items: center;
                    justify-content: center;
                }

                    nav ul li {
                        margin: 0 5px;
                        list-style: none;
                    }

                        nav ul li a {
                            font-size: 18px;
                            font-weight: 500;
                            color: #f2f2f2;
                            padding: 8px 15px;
                            border-radius: 5px;
                            letter-spacing: 1px;
                            text-decoration: none;
                            transition: all 0.3s ease;
                            text-shadow: 1px 4px 4px #000000;
                        }

                        nav ul li #active:hover {
                            text-shadow: 1px 4px 4px #000000;
                            background-color: #91e0ff !important;
                        }

                        nav ul li a:hover {
                            color: #111;
                            text-shadow: none !important;
                            background-color: #fff;
                        }

                        input[type="checkbox"]{
                            display: none;
                        }

                        label {
                            padding: 5px 0;
                            cursor: pointer;
                        }

                        /* Burger Menu */
                        nav .menu-btn .menu-btn-burger{
                            color: #fff;
                            display: none;
                            font-size: 22px;
                            cursor: pointer;
                        }

                        .menu-btn-burger {
                            width: 20px;
                            height: 2px;
                            border-radius: 5px;
                            background-color: #fff;
                            transition: all .5s ease-in-out;
                            box-shadow: 0 2px 5px #2facff33;
                        }

                        .menu-btn-burger::before,
                        .menu-btn-burger::after {
                            content: '';
                            width: 20px;
                            height: 2px;
                            border-radius: 5px;
                            position: absolute;
                            background-color: #fff;
                            transition: all .5s ease-in-out;
                            box-shadow: 0 2px 5px #2facff33;
                        }

                        .menu-btn-burger::before {
                            transform: translateY(-7px);
                        }

                        .menu-btn-burger::after {
                            transform: translateY(7px);
                        }

                        /* Burger Menu Animation */
                        .menu-btn.open .menu-btn-burger {
                            box-shadow: none;
                            background: transparent;
                        }

                        .menu-btn.open .menu-btn-burger::before {
                            transform: rotate(45deg);
                        }

                        .menu-btn.open .menu-btn-burger::after {
                            transform: rotate(-45deg);
                        }

section {
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
}

    #hero-container {
        max-width: 50%;
    }

        #hero-container h1 {
            line-height: 3vw;
            font-weight: 700;
            color: #c4c4c4;
            letter-spacing: 5px;
            cursor: context-menu;
            text-transform: uppercase;
            font-size: clamp(35px, 8vw, 200px);
        }

            #hero-container h2 {
                font-size: clamp(20px, 5vw, 40px);
            }

                #hero-container h2 #wave {
                    display: inline-block;
                    animation-duration: 3.2s;
                    transform-origin: 70% 80%;
                    animation-name: wave-animation;
                    animation-iteration-count: infinite;
                }

        #hero-container p {
            color: #5A4D70;
            font-size: 20px;
            margin: 10px 0 0 0;
            padding-right: 1rem;
            cursor: context-menu;
        }

            #hero-container p span {
                font-weight: 600;
                color: #000000;
                font-size: 1.2rem;
            }

            #hero-container p span a {
                color: #ff0000;
                text-decoration: none;
            }

            #hero-container p i {
                font-weight: 600;
                color: #3ea3ca;
            }

@media (max-width: 1000px){

    nav{
        padding: 0 40px 0 50px;
    }

}

@media (max-width: 910px) {

    nav .menu-btn .menu-btn-burger{
        display: block;
    }


    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }

    nav ul{
        top: 100px;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: block;
        position: fixed;
        padding: 5vh 2vw;
        background: #111;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul{
        left: 0;
        z-index: 1;
    }

    #hero-container h2 #wave {
        z-index: 2;
    }

    nav ul li{
        padding: 5px;
        margin: 40px 0;
    }

    nav ul li a{
        display: block;
        font-size: 20px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked ~ ul li a{
        margin-left: 0px;
    }

    nav ul li a:hover{
        color: cyan;
        background-color: transparent;
    }

    nav ul li #active:hover {
        color: cyan;
        background-color: transparent !important;
    }

}

@media screen and (max-width: 320px) {

    nav {
        padding: 0 30px;
    }

        #logo {
            font-size: 0.9rem;
        }

}

/*
    Wave Emoji Wave Animation
*/
@keyframes wave-animation{
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}